#sulama-bolgeler {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 85px;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}
